#Définir un nom

name: Lravel CI
#definir les triggers
on:
    push:
        branches: [main]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            #1-  Récuperer le code source
            - name: Récuperer le code source
              uses: actions/checkout@v5
            
            #2- Exécuter les testes
            - name: Run test
              run: cd app &&  composer install && cp .env.example  .env && php artisan key:gen && php artisan test
            #3- Construire l'image
            - name: build app image
              run: docker build -t traore1480/laravelcicd:latest .
            #4- Se connecter a docker hub
            - name: se connecter a docker hub
              uses: docker/login-action@v2
              with:
                username: ${{secrets.DOCKER_USERNAME}}
                password: ${{secrets.DOCKER_TOKEN}}